<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preguntas-app</title>
    <link rel="stylesheet" type="text/css" href="/css/styles.css" />  
  </head>
  <body>
    <div class="container">
      <div id="inicio" class="flex-colum flex-center">
        <h1>Estas preparado Jugador</h1>
        <a href="/inicioJuego" class="btn">Iniciar Juego</a>
        <a id="btnHistorial" href="/historialJuego" class="btn">Historial</a>
      </div>
    </div>
  </body>
</html>
